.bx-border-inline-double {
    border-style: inset;
    border-inline: double;
    border-width: 2px;
    border-color: $color-orange;
    border-radius: 50px 50px 50px 50px;
}

.bx-icon-bolle {
    position: inherit;
    display: inline-block;
    font-size: 50px;
    line-height: 1;
    text-align: center;
    transition: all 0.3s;
    background: $color-orange;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    right: 0;
}

.bx-about-team-root{
     margin-top: 50px;
     .bx-wrapp-team-root{
        margin-top: 50px;
     }
}

.bx-about-info-wrapper {
    opacity: 1;
    clear: both;
    position: relative;
    .bx-call {
        a {
            display: flex;
            align-items: center;
            svg {
                font-size: 50px;
                margin-right: 18px;
                color: $color-orange;
            }
            h5 {
                color: $color-black1;
                font-size: 18px;
                font-weight: 600;
                span {
                    display: block;
                    font-size: 15px;
                    font-weight: 500;
                    margin-top: 5px;
                }
            }
        }
    }



    h2 {
        font-size: font-size(xxl);
        margin: 19px 0;
    }
    ul {
        li {
            border: 0;
            border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    
}

.bx-listcheck-missvision {
        ul {
            li {
                padding: 0;
                padding: 0;
                text-align: left;
                justify-content: left;
                margin-bottom: 15px;

                svg {
                    font-size: 17px;
                    margin-right: 5px;
                    color: $color-orange2;
                }
            }
        }

        .bx-our-mission-vision {
            li {
                @extend .bx-border-inline-double;
                width: 100%;
                display: block;
                padding: 14px 18px;
                border-radius: 20px;
                span.bx-icon-list-icon,
                .bx-icon-list-text {
                    font-size: 23px;
                }

                svg {
                    font-size: 36px;

                    margin-left: 8px;
                }
            }
        }
    }

.bx-about-image-wrapper {

   @extend .bx-round-card;
    .bx-bolle {
       @include bx-bolle;
    }

    img {
        height: 568px;
        object-fit: cover;
        width: 97%;
        border-radius: 163px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 115px;
    }
}
