span.bx-line {
    padding: 0 7px;
}

.bx-post-blogImage {
    background-color: $color-black2;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 20px 20px;
    padding: 25px 25px 25px 25px;
    transition: all .4s ease;
    margin-bottom: 20px;
    color: #fff;

    &:hover {
        .bx-post-img {
            img {
                -webkit-transform: scale(1.05) rotate(2deg);
                transform: scale(1.05) rotate(2deg);
                opacity: .8;
            }

        }
    }

    span.bx-rating-icon {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center;
    }

    .post-meta-list {
        margin-top: 10px;
    }

    .bx-post-caption-rating-date {
        display: flex;
        align-content: center;
        align-items: center;

        span {
            font-size: 14px;
        }

        svg {
            margin-left: 7px;
            color: $color-orange2;
        }
    }

    .bx-entry-title {
        margin: 12px 0;
        font-family: $font-ZCOOLX;
        font-family: $font-quick;
        font-size: 26px;

        a {
            color: #fff;
        }
    }

    p {
        color: #fff;
    }

    .bx-view-more {
        color: #fff;

        span {
            color: #fff;
        }
    }

    .bx-post-card {
        position: relative;

        .bx-post-img {
            position: relative;

            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .4s ease;
                width: 100%;
            }

            a {
                padding: 0px 0px 0px 0px;
                position: relative;
                color: #fff;
                overflow: hidden;
                display: block;
                height: 300px;
            }
        }

        .bx-meta-date {
            position: absolute;
            left: -10px;
            top: auto;
            bottom: 30px;

            .bx-meta-date-text {
                background: $color-orange2;
                position: relative;
                font-size: 18px;
                color: #fff;
                padding: 4px 6px;
                font-weight: 600;

                &::before {
                    position: absolute;
                    content: "";
                    top: -10px;
                    left: 0;
                    color: #912f3d;
                    border-bottom: solid currentColor;
                    border-top: solid transparent;
                    border-width: 5px;
                    border-right: solid currentColor;
                    border-left: solid transparent;
                }
            }
        }
    }
}

