ul.list-group {
    li {
        background: transparent;
        border: 0;
        border-radius: 0;
        padding: 0;
    }
}

footer.bx-footer-main {
    background: $color-black-353535;
    position: relative;
    border-radius: 80px 80px 0 0;
    margin-top: 148px;

    &::before {
        content: "";
        position: absolute;
        background: url(../../../public/images/footer.png);
        background-repeat: no-repeat;
        right: 81px;
        width: 300px;
        top: -149px;
        height: 300px;
        animation: rotate-animation 10s infinite linear;
    }

    .bx-footer-root {
        padding: 134px 0 21px;
    }

    p {
        color: #fff;
        font-size: 12px;
    }

    img {
        margin-bottom: 20px;
    }

    .bx-footer-titel {
        h3 {
            color: #fff;
            font-size: 22px;
            position: relative;
            padding-bottom: 6px;
            margin-bottom: 11px;

            &::before {
                content: "";
                position: absolute;
                width: 32%;
                left: 0;
                bottom: 0;
                border-block-start: 1px solid $color-orangeLight;
            }
        }
    }

    ul {
        li {
            padding: 0;
            margin-bottom: 7px;

            a {
                color: #fff;
                text-transform: capitalize;
                font-size: 15px;
                position: relative;

                &:hover {
                    color: $color-orangeLight;

                    &::before {
                        width: 100%;
                    }
                }

                &::before {
                    content: "";
                    background: $color-orangeLight;
                    display: block;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 0;
                    height: 1px;
                    transition: all 0.3s ease-in-out;
                }
            }

            svg {
                transition: color 0.3s;
                margin-right: 4px;
            }
        }
    }
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.bx-copyright-root {
    background: #000;
    padding: 7px 0;

    h4 {
        color: #fff;
        margin: 0;
        font-size: 12px;
    }

    ul.bx-inline-items {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        flex-direction: row;
        margin: 0;

        li {
            margin: 0;
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.bx-footer-follow-info {
    ul {
        display: flex;
        align-content: center;
       justify-content: left;
        flex-direction: row;
        margin: 0;

        li {
            margin: 0;
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.bx-contact-li-info {
    ul {
        li {
            .bx-icon-box-wrapper {
                display: flex;
            }

            span.bx-icon {
                font-size: 38px;
                color: #fff;
                cursor: pointer;
                margin-right: 7px;
                line-height: 0;
            }

            h3 {
                color: #fff;
                font-size: 18px;
            }

            p {
                font-size: 15px;
                color: #cdcdcd;
            }


        }
    }
}


/***--@media--***/

@media (max-width: 576px) {
a.nav-logos{
    img{
        width: 100%;
    }
}


    .bx-copyright-root ul.bx-inline-items{
            justify-content: flex-start;
    }
}