.bx-form-input-list {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: $font-quick;

  h2 {
    text-align: center;
    margin-bottom: 25px;
    color: $color-black2;
  }

   input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;

    }

  input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color:$color-orange;
    }
  }

  button {
    width: 100%;
    padding: 12px;
    background-color:$color-orange;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Quicksand", sans-serif;
    &:hover {
      background-color:$color-black-353535;
    }

    &:disabled {
      background-color: $color-gray;
      cursor: not-allowed;
    }
  }

  p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;

    &.green {
      color: green;
    }

    &.red {
      color: red;
    }
  }
}
