.bx-medium-header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.3s ease;
    background-color: #fff;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     height: 100%;
    //     width: 50%;
    //     background:#fff;
    //     transform: skew(0deg, -6deg);
    //   }

    // .log-brand
    // {
    //     padding: 1rem 0;
    //     position: relative;

    //     &::before
    //     {
    //         content: "";
    //         position: absolute;
    //         top: 15px;
    //         left: 0;
    //         height: 100%;
    //         width: 100%;
    //         background:#fff;
    //         clip-path: polygon(0 0, 100% 0, 99% 84%, 90% 100%, 8% 100%, 0 83%);
    //         z-index: 1;
    //     }

    //     a
    //     {
    //         text-align: left;
    //         display: block;
    //         position: relative;
    //         z-index: 3;
    //     }

    // }

    nav {
        padding: 0;
        margin-right: 16px;
        .bx-nav-ul-item {
            width: 100%;
            justify-content: right;

            li {
                a {
                }
            }
        }

        li.navbar-nav {
            align-items: center;
            cursor: pointer;
            &.navbar-nav:is(:hover, :active, :focus) {
                .bx-nav-dropdown {
                    transform: scaleY(1);
                    -webkit-transform: scaleY(1);
                    -moz-transform: scaleY(1);
                    -o-transform: scaleY(1);
                    -ms-transform: scaleY(1);
                    visibility: visible;
                }
            }

            &.bx-active {
                a {
                    color: #fff;
                    &::before {
                        content: "";
                        background-color: $color-orange;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        bottom: 0;
                        height: 100%;
                        z-index: 1;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            a {
                font-family: "Quicksand", sans-serif;
                color: $color-black1;
                text-decoration: none;
                padding: 4px;
                margin-right: 7px;
                font-weight: 700;
                position: relative;

                span {
                    z-index: 9;
                    position: relative;
                }

                &:hover {
                    color: #fff;
                }

                &::before {
                    content: "";
                    background-color: $color-orange;
                    position: absolute;
                    left: 0;
                    bottom: 7px;
                    width: 100%;
                    height: 5px;
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                }

                &:hover::before {
                    bottom: 0;
                    height: 100%;
                }
            }
        }
        li.navbar-nav {
            .dropdown-item {
                &.bx-active {
                    a {
                        color: #fff;
                        &::before {
                            content: "";
                            background-color: $color-orange;
                            position: absolute;
                            left: 0;
                            width: 100%;
                            bottom: 0;
                            height: 100%;
                            z-index: 1;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    .card-user-search {
        display: flex;
        justify-content: right;
        align-items: center;
        height: 100%;

        ul {
            margin: 0;
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                margin-left: 30px;

                a {
                    font-size: 24px;
                    position: relative;
                    color: var(--brand-color-orange);

                    &:hover {
                        color: #000;
                    }
                }
            }
        }

        .cart-icon-area {
            a.pro-card {
                span {
                    @include important-card-wishlist;

                    &:hover {
                        color: #fff;
                    }
                }
            }

            a.pro-wishlist {
                span {
                    @include important-card-wishlist;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

        .header-search-box {
            .open-change i {
                font-size: 24px;
                color: var(--brand-color-orange);
                cursor: pointer;

                &:hover {
                    color: #000;
                }
            }

            .fsearch_close {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                z-index: 0;
                display: none;
                overflow: hidden;

                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                background-color: #000;
                -webkit-transform-origin: 50% 0%;
                -ms-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                margin: 0px auto;
                opacity: 0;
                -webkit-transition: opacity 0.15s linear;
                -o-transition: opacity 0.15s linear;
                transition: opacity 0.15s linear;
                height: 0px;
                z-index: 9;

                .close-change {
                    width: 5%;
                    text-align: center;
                    i {
                        font-size: 24px;
                        color: #fff;
                        cursor: pointer;

                        &:hover {
                            color: var(--brand-color-orange);
                        }
                    }
                }
            }

            .fsearch_open {
                display: flex;
                top: 100%;
                opacity: 1;
                height: 70px;
            }

            .search-change {
                width: 100%;
                margin-left: 2rem;
                margin-right: 2rem;

                .form-control {
                    border: 0px solid #000;
                    border-bottom: 1px solid #ced4da;
                    background-color: #fff0;
                    border-radius: 0;
                    color: #fff;

                    &:focus {
                        box-shadow: none;
                    }

                    &::placeholder {
                        color: #fff;
                    }
                }

                .btn {
                    color: #fff;
                    border: 0px solid;
                    font-size: 22px;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}

.bx-scrolled {
    background-color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 99;
    border-bottom: 5px solid #353535;
    border-bottom-style: double;
}

.bx-heder-right-sce {
    display: flex;
    align-items: center;
}

.bx-userinfo-selector {
    margin-left: 8px;
    .dropdown {
        button {
            background: transparent;
            color: $color-orange;
            padding: 0;
            border: 0;
            font-size: 24px;
            &::after {
                display: none;
            }
        }
    }

    .dropdown-item:active {
        background-color: #0d6efd00;
    }

    .bx-nav-dropdown {
        &:is(:hover, :active, :focus) {
            transform: scaleY(1);
            -webkit-transform: scaleY(1);
            -moz-transform: scaleY(1);
            -o-transform: scaleY(1);
            -ms-transform: scaleY(1);
            visibility: visible;
            .dropdown-menu {
            }
        }
    }

    li.navbar-nav {
        align-items: start;
        padding: 0 10px 6px;
        cursor: pointer;
        &.navbar-nav:is(:hover, :active, :focus) {
            .bx-nav-dropdown {
                transform: scaleY(1);
                -webkit-transform: scaleY(1);
                -moz-transform: scaleY(1);
                -o-transform: scaleY(1);
                -ms-transform: scaleY(1);
                visibility: visible;
            }
        }

        &.bx-active {
            a {
                color: #fff;
                &::before {
                    content: "";
                    background-color: $color-orange;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    bottom: 0;
                    height: 100%;
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        a {
            font-family: "Quicksand", sans-serif;
            color: $color-black1;
            text-decoration: none;
            padding: 4px;
            margin-right: 7px;
            font-weight: 700;
            position: relative;

            span {
                z-index: 9;
                position: relative;
            }

            &:hover {
                color: #fff;
            }

            &::before {
                content: "";
                background-color: $color-orange;
                position: absolute;
                left: 0;
                bottom: 7px;
                width: 100%;
                height: 5px;
                z-index: 1;
                transition: all 0.3s ease-in-out;
            }

            &:hover::before {
                bottom: 0;
                height: 100%;
            }
        }
    }
}

.bx-nav-dropdown {
    position: relative;
    height: 100%;
    z-index: 99;

    .dropdown-menu {
        &.bx-active {
            a {
                color: #fff;
                &::before {
                    content: "";
                    background-color: $color-orange;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    bottom: 0;
                    height: 100%;
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    &:hover,
    &:hover .dropdown-menu {
        .dropdown-menu {
            transform: scaleY(1);
            visibility: visible;
            // display: block;
            pointer-events: auto;
        }
    }

    .dropdown-toggle {
        &:is(:hover, :active, :focus) {
            transform: scaleY(1);
            visibility: visible;
        }

        &::after {
            z-index: 9;
            position: inherit;
        }
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        transform: scaleY(0);
        transform-origin: top;
        visibility: hidden;
        pointer-events: none;
        transition:
            transform 0.3s ease,
            visibility 0.3s ease;
        border-radius: 0;
        padding-top: 25px;
        background: transparent;
        border: 0;
        div {
            background: #fff;
        }
    }

    .dropdown-item:active {
        background-color: #0d6efd00;
    }
}

.bx-pc-dropdown {
    &:hover {
        .bx-user-dropdown-menu {
            transform: scaleY(1) !important; /* optional */
        }
    }
    .bx-user-dropdown-menu {
        transform: scaleY(0) !important; /* optional */
        left: -114px !important;
        padding-top: 29px;
        top: 32px !important;
    }
}
.user-initials {
  width: 36px;
  height: 36px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
}
