.bx-home-layout-root {

    .bx-wave2 {
        .wave {
            background-size: auto;
        }
    }

    .bx-wave3 {
        .wave {
            width: 69%;
        }
    }



    .bx-services {
        .fluidBox {
            padding: 26px 12px 25px 16px;

            .title {
                margin: 0 0 5px;
                font-size: 15px;
            }

            p.description {
                font-size: 12px;
            }
        }

        .service-icon {
            font-size: 24px;
            line-height: 46px;
            height: 46px;
            width: 46px;
        }
    }

    .bx-testimonials-section {
        margin-bottom: 50px;
    }
}

.bx-hero-page-section {
    position: relative;
    background-color: $color-orange;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        opacity: 0.44;
        background-image: url("../../../public/images/home/banner/cartographer.png");
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        height: 92%;
        width: 43%;
        background: rgb(255 255 255);
        transform: skew(0deg, 0deg);
        bottom: 4%;
        border-radius: 23px 0px 0px 35px;
    }

    .bx-hero-info-content {
        padding-left: 0rem;
        padding-right: 4rem;
        position: relative;
        padding-top: 3rem;
        padding-bottom: 7rem;
        z-index: 1;

        h2 {
            font-size: font-size(xxl);
            line-height: 1.5;
            font-weight: 800;
            color: #fff;
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 14px;
            line-height: 30px;
            color: #fff;
        }
    }

    .bx-info-service {
        position: absolute;
        left: 37px;
        width: 54%;
        transform: translateY(13px);
        z-index: 9;
        padding-right: 3rem;
    }

    .bx-carousel-root {
        transform: translateY(4rem);
        position: relative;
        padding: 2rem;
        z-index: 2;
        padding-right: 0;

        &::before {
            content: "";
            position: absolute;
            border: 4px solid #000;
            top: 0;
            left: 0;
            bottom: 0;
            width: 86%;
            border-style: double;
        }

        .carousel-item {
            height: 650px;
            display: block;

            .view {
                height: 100%;
                border-radius: 13px;
                display: block;
                overflow: hidden;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.bx-about-section {
    margin-top: 0%;
    padding-top: 7rem;
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 4rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 84%;
        background: #fff url(../../../public/images/about/abotBg.jpg);
        opacity: 0.3;
        background-attachment: fixed;
    }
}

.bx-menu-silder-section {
    .bx-icon-list-layout {
        width: fit-content;
    }

    .wave {
        width: 70%;
        background-size: 28% !important;
    }
}

.bx-reserve-section {
    position: relative;
    background-color: #fe5f3f;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        opacity: 0.44;
        background-image: url("../../../public/images/home/banner/cartographer.png");
        // z-index: 1;
        background-attachment: fixed;
    }
}

.bx-testimonials-section {
    position: relative;

    .bx-swiper-testimonia {
        position: relative;
        margin-top: 32px;
        padding: 71px 0 44px;

        background: $color-orange2;

        .swiper-slide {
            padding: 13px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: url("../../../public/images/pattern-dark.png");
            opacity: 0.3;
            background-attachment: fixed;
        }


        &::after {
            content: "";
            background: url("../../../public/images/seafood.jpg");
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: cover;
            opacity: 0.7;
            background-attachment: fixed;
        }

        .bx-testi-items {
            position: relative;
            margin-bottom: 0;

            &::before {
                content: "";
                position: absolute;
                max-width: 100%;
                left: -40px;
                bottom: 0px;
                border-radius: 0px 0px 20px 0px;
                // box-shadow: 20px 0px 0px 0px ;
                margin-block-end: 0;
                width: 40px;
                top: 0;
            }

            &::after {
                content: "";
                position: absolute;
                max-width: 100%;
                right: 0px;
                aspect-ratio: 1 / 1;
                border-radius: 0px 0px 20px 0px;
                // box-shadow: 20px 0px 0px 0px #000;
                margin-block-end: 0;
                width: 40px;
                top: 0;
                height: 100%;
            }
        }


    }

    .bx-testi-items {
        .bx-testi-init {
            padding: 34px;
        }
    }
}

.bx-booking-table-form {
    padding: 72px 28px;

    .bx-wave2 {
        .wave {
            margin: 0 auto;
        }
    }
}

/***--@media--***/

@media (max-width: 576px) {

    .bx-section-margine {
        margin-bottom: 0.5rem;
    }

    .bx-hero-page-section {
        .bx-order-1 {
            order: 2;
        }

        &::after {
            background: transparent;
        }

        .bx-hero-info-content {
            padding-right: 0rem;
            padding-top: 1rem;
            padding-bottom: 4rem;

            h2 {
                font-size: font-size(xl);
            }

            .bx-btn::after {
                left: 8px;
            }


        }

        .bx-info-service {
            position: relative;
            transform: none;
            width: 100%;
            left: 0;
            padding-right: 0;
        }

        .bx-carousel-root {
            transform: unset;
            padding: 0;

            &::before {
                display: none;
            }

            .carousel-item {
                height: 300px;

                .view {
                    img {}
                }
            }
        }
    }

    .bx-servicea-section {
        padding-top: 20px;

        .bx-service-items-list {
            margin-bottom: 1px;
            text-align: center;
        }

        .bx-services {
            margin-bottom: 49px;
        }
    }

    .bx-about-section {
        padding-top: 3rem;

    }

    .bx-menu-silder-section {
        margin-bottom: 0.5rem;
    }

    .bx-home-layout-root {
        .bx-wave2 {
            .wave {
                background-size: 18%;
            }
        }

        .bx-headring-our {
            
            .bx-wave2 .wave {
                width: 52%;
            }
        }

        .bx-Special-info-wrapper {
            .bx-btn.bx-btn-2 {
                margin-bottom: 27px;
            }
        }
    }

    .bx-menu-silder-section {
        .bx-product-menu-wrap {
            .bx-images {
                height: 145px;
            }
        }
    }

    .bx-categories-root-list {
        .bx-product-menu-wrap {
            &::before {
                width: 85%;
            }

            .bx-images {
                height: 145px;
            }

            .bx-desc-listcategoreis {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }

    .bx-graphic-layer img {
        height: 343px;
    }

    .bx-desc-listcategoreis {
        padding: 10px 15px;
    }

    .bx-special-offer-section {
        .bx-product-menu-wrap {
            &::before {
                width: 100%;
            }
        }
    }


    .bx-testimonials-section {
        .bx-swiper-testimonia {
            padding: 35px 0 4px;

        }
    }


}