.bx-product-list-wappe {
    display: flex;
    .bx-pro-text {
        width: 50%;
        margin-left: 19px;
    }

    .bx-thumbnail-top {
        width: 45%;
    }

    .bx-product-actions {
        position: relative;
        bottom: 0;
        justify-content: left;
    }
}
