// .wave {
//  background-image: url("../../../public/images/squiggle.svg");
//       background-position: bottom;
//       background-repeat: repeat-x;
//     background-size: 25%;
//     border-bottom: 0;
//     padding-bottom: 0.3em;
//     text-decoration: none;
//     width: 21%;
//     // stroke: #1e2b8f;
//  stroke-dashoffset: 100;
//   stroke-width: 10;
//   stroke-linecap: round;
//   stroke-dasharray: 60 40;
//   animation: waveStroke 2s linear infinite;
//     //  animation: waveMove 6s linear infinite;
//     //   animation: moveWave 2s linear infinite;

// }
.wave {
    //   background: url("../../../public/images/squiggle.svg");

    background: url("../../../public/images/squiggle.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 25%;
    width: 21%;
    padding-bottom: 0.3em;
    animation: moveWave 3s linear infinite;
    background-blend-mode: soft-light;
}

// @keyframes waveStroke {
//   from {
//     stroke-dashoffset: 0;
//   }
//   to {
//     stroke-dashoffset: -10;
//   }
// }
@keyframes moveWave {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -200px;
    }
}

// @keyframes moveWave {
//   from { background-position-x: 0; }
//   to { background-position-x: -60px; }
// }
// @keyframes waveMove {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(-50%);
//   }
// }

.bx-page-titles-breadcrumb {
    // background: url("/images/portfolio-back.jpg");
    background-color: $color-orange;
    position: relative;
    display: block;
    height: calc(60vh - 124px);
    padding-top: 60px;

    margin-bottom: 2rem;
    &::before {
        @extend .bx-before-after;
        //    background: url("../../../public/images/squiggle.svg");
        background-image: url("../../../public/images/home/banner/cartographer.png");

        height: 100%;
        background-size: auto;
        background-attachment: unset;
        background-position: unset;
        background-repeat: repeat-x;
        width: 100%;
        top: unset;
    }

    &::after {
        // @extend .bx-transform-translate50;
        // @extend .bx-mask-image;
        transform: translate(-50%, -50%);
    }

    .bx-page-overlay {
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        z-index: 1;
        clear: both;
        opacity: 1;
        h2 {
            // @extend .bx-overlay-clear;
            font-size: 55px;
                z-index: 1;
    position: relative;
    color: #fff;
        }
    }
}

/***--@media--***/

@media (max-width: 1366px) {
    .bx-page-titles-breadcrumb {
        height: auto;
        padding-top: 103px;
            padding-bottom: 9px;
            .bx-page-overlay h2 {
            font-size: 40px;
        }
    }
}

@media (max-width: 1023px) {
    .bx-page-titles-breadcrumb {

        padding-top: 103px;
    }
}

@media (max-width: 1024px) {
    .bx-page-titles-breadcrumb {

        padding-top: 103px;
    }
}

@media (max-width: 900px) {
    .bx-page-titles-breadcrumb {

        padding-top: 103px;

        
    }
}

@media (max-width: 786px) {
    .bx-page-titles-breadcrumb {
        height: auto;
        padding-top: 145px;
            padding-bottom: 20px;
    }
}

@media (max-width: 757.99px) {
    .bx-page-titles-breadcrumb {
        height: auto;
        padding-top: 103px;
        padding-bottom: 28px;
        margin-bottom: 10px;

        .bx-page-overlay h2 {
            font-size: 40px;
        }
    }
}

@media (max-width: 576.99px) {
    .bx-page-titles-breadcrumb {
        height: auto;
        padding-top: 132px;
        margin-bottom: 10px;
        padding-bottom: 28px;
        .bx-page-overlay h2 {
            font-size: 25px;
        }
    }
}

@media (max-width: 320.99px) {
    .bx-page-titles-breadcrumb {
        height: auto;
        padding-top: 129px;
              padding-bottom: 28px;

        .bx-page-overlay h2 {
            font-size: 25px;
        }
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) {
    .bx-page-titles-breadcrumb {
        height: auto;
        padding-top: 103px;

    }
}

@media only screen and (orientation: landscape) and (min-device-width: 320.99px)  {
.bx-page-titles-breadcrumb {
            height: auto;
             padding-top: 124px;
                     padding-bottom: 9px;
    }
}

@media only screen and (orientation: landscape) and (min-device-width: 1024px)  {
.bx-page-titles-breadcrumb {
             height: auto;
        padding-top: 142px;
                    padding-bottom: 9px;
    }
}
