.bx-quick-modal
{
    .modal-dialog{
            max-width: 64%;

    }
    .bx-close-icon
    {
        background: transparent;
        border: 0;
        border-radius: 0;
        color:$color-black1;
        position: absolute;
        right: 0;
        font-size: 20px;
    }
.modal-body
    {
            border: 2px dashed #fb2a00;
    border-radius: 0;
    }

    

}