.bx-quick-modal {
    .modal-dialog {
        max-width: 64%;

    }

    .bx-close-icon {
        background: transparent;
        border: 0;
        border-radius: 0;
        color: $color-black1;
        position: absolute;
        right: 0;
        font-size: 26px;
        z-index: 9;
    }

    .modal-body {
        border: 2px dashed #fb2a00;
        border-radius: 0;
    }



}


/***--@media--***/

@media (max-width: 576px) {

    .bx-quick-modal {
        .modal-dialog{
                max-width: 100%;
        }

        .bx-close-icon{
            color: #fff;
        }

        .modal-body{
                overflow-y: scroll;
    height: 634px;
        }
    }

}

