.bx-services {
    text-align: center;
    padding: 0px 0px 0px 29px;
    position: relative;
    z-index: 1;

    &::before,
    &::after {
        content: "";
        border: 4px solid var(--brand-color-orange);
        position: absolute;
        left: 28px;
        top: 0;
        right: 0;
        bottom: 0;
        clip-path: polygon(0 0, 65% 0%, 50% 100%, 0% 100%);
    }

    &::after {
        clip-path: polygon(95% 15%, 100% 15%, 100% 100%, 95% 100%);
    }

    .fluidBox {
        z-index: 1;
        background-color: #fff;
        padding: 25px 20px 25px 42px;
    }
    .service-icon {
        color: #fff;
        background-color: var(--brand-color-orange);
        font-size: 30px;
        line-height: 60px;
        height: 60px;
        width: 60px;
        margin: 0 0 15px;
        transform: translateY(-50%);
        position: absolute;
        left: 0;
        top: 0%;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        margin: 0 0 10px;
    }

    .description {
        font-size: 14px;
        line-height: 25px;
        margin: 0;
        color: var(--brand-color-black1);
    }
}
