.bx-team-item {

    @extend .bx-round-card;
        border-radius: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;

    &:hover {
        .bx-team-social-icon {
            bottom: 30px;
            opacity: 1;
            visibility: visible;
        }

        .bx-image-anime {

            &::after {
                height: 250%;
                transition: all 600ms linear;
                background-color: transparent;
            }

            img {
                transform: scale(1.1);
            }
        }

    }

    .bx-cord-body {
        position: relative;
        @include black-box;
        margin-bottom: 0;
        padding: 18px;
    }

    .bx-bolle {
        @include bx-bolle;
    }

    .bx-team-social-icon {
        position: absolute;
        right: 30px;
        bottom: 0;
        left: 30px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        z-index: 1;
    }

    .bx-image-anime {
        @include bx-image-anime;
        position: relative;
    cursor: ns-resize;
        img {
            width: 100%;
            @include bx-image;
        }
    }

    .bx-social-icon
    {
           margin-right: 9px;
    padding: 8px;
    line-height: 0;
    svg{
        position: relative;
        z-index: 99;
    }
    }
    h3{
        a{
            font-size: 25px;
        color: #fff;
        &:hover{
            color: $color-orange;
        }
        }
    }
    p{
        font-size: 12px;
        color: #fff;
    }

    h6{
color: #fff;
    }

    
}