:root {
  --itemWidth: 10px;
  --itemWidthMinus: -10px; /* must have a minus sign for negative offset */
}

.bx-testi-items {
    @include bx-card-body-2;
    position: relative;
   
    
    

    .bx-testi-init {
       padding: 19px;
}

    .bx-selected-img {
        display: flex;
        align-items: center;
        justify-content: start;
        color: #fff;
        img {
            height: 86px;
            width: 86px;
            border-radius: 50%;
            margin-right: 8px;
        }
    }
    .bx-rating-icon {
        color: #fff;
        margin-bottom: 9px;
        display: flex;
        align-items: center;
        svg {
            margin-left: 8px;
        }
    }
    a {
        color: #fff;
    }
    p {
        color: #fff;
        font-size: 14px;
    }

    h3 {
        font-size: 26px;
        color: #fff;
    }
    h5 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    h6 {
        font-size: 12px;
        margin-bottom: 5px;
    }
}
