.bx-top-header {
    background: $color-orange;
    padding: 0.5rem 0;

    ul {
        @include important-ulFlex;

        a {
            color: #fff;
            font-weight: 500;
            &:hover {
                color: #000;
            }
        }
    }
    ul {
        li {
            margin-right: 12px;
            background-color: transparent;
            @extend li;
            padding: 0;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
            a {
                margin-right: 12px;
                text-decoration: none;
                &:last-child {
                    margin-right: 0;
                }

                svg {
                    margin-right: 5px;
                }
            }
        }
    }

    .bx-socialr-nav {
        justify-content: right;
        li {
            margin-left: 0;
            a {
            }
        }
    }
}

// Responsive styles

@media (max-width: 576px) {
    
    .email-numbers-box {
        span {
            display: none;
        }
    }
}
