li {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    text-decoration: none;
}

.no-button-boder {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.bx-before-after{
        content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}