button.btn:first-child:active,
.btn-primary,
button.btn:focus-visible {
    background: unset;
    outline: unset;
    border-color: unset;
    box-shadow: unset;
    color: #111;
}
button.btn
{
    &:disabled{
                background: transparent;
    outline: unset;
    color: #000;
    opacity: 1;
    padding: 0;
    border: 0;
        }
}

.bx-btn {
    font-family: "ZCOOL XiaoWei", sans-serif;
    text-transform: inherit;
    font-weight: bold;
    padding: 8px 15px;
    line-height: normal;
    display: inline-block;
    margin: 10px 0px 0px;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    font-size: 14px;
    padding: 16px 30px 14px;

    color: $color-orange;

    &::before {
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        opacity: 0.2;
        -webkit-transform: scale3d(0.7, 1, 1);
        transform: scale3d(0.7, 1, 1);
        -webkit-transition:
            -webkit-transform 0.3s,
            opacity 0.3s;
        transition:
            transform 0.3s,
            opacity 0.3s;
        content: "";
        position: absolute;
        border-radius: inherit;
        z-index: -1;
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        background-color: $color-orange;
    }

    &:hover {
        border-color: $color-orange;
        background-color: $color-orange;
    }

    &:hover::before {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    &::after {
        content: "";
        position: absolute;
        border-radius: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: scale3d(1.1, 1, 1);
        transform: scale3d(1.1, 1, 1);
        -webkit-transition:
            -webkit-transform 0.3s,
            background-color 0.3s;
        transition:
            transform 0.3s,
            background-color 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        background-color: $color-orange;
        // background-color: #000;
        border: 2px solid;
    }
    &:hover::after {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        border-color: $color-black2;
        background-color: $color-black2;
    }

    span {
        display: inherit;
        color: #fff;
    }
}
.bx-btn-2 {
    &::before {
        background-color: #000;
    }
    &:hover::before {
        background-color: $color-orange;
    }
}
.bx-btn-1 {
    color: #fff;

    &:hover {
        color: #fff;
    }

    &::before {
        background-color: #fff;
    }

    &:hover::after {
        transform: scale3d(1, 1, 1);
        border-color: $color-black2;
        background-color: #000;
    }
}

.bx-view-btn {
    text-align: center;
    margin: 3rem 0;
}

.bx-btn-prim {
    background: $color-black-353535;
    color: #ffff;
    border: 0;
    border-radius: 0;
    position: relative;
    &:is(:hover, :active, :focus, :focus-visible) {
        color: #111;
        background: $color-black-353535;
        &::before {
            opacity: 1;
            -moz-opacity: 1;
            -khtml-opacity: 1;
            -webkit-opacity: 1;
            height: 100%;
        }
    }

    &::before {
        background: $color-orange;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        opacity: 0;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -ms-border-radius: 0px;
        right: 0;
        transition: all 400ms ease-in-out;
        -webkit-transition: all 400ms ease-in-out;
    }

    .bx-icon-list-icon {
        z-index: 1;
        position: relative;
        svg {
            font-size: 20px;
        }
    }
}

.bx-add-cart-btn {
    background: $color-black-353535;
    color: #ffff;
    border: 0;
    border-radius: 0;
    position: relative;
    font-family: "ZCOOL XiaoWei", sans-serif;
    &:is(:hover, :active, :focus, :focus-visible) {
        color: #111;
        background: $color-black-353535;
        &::before {
            opacity: 1;
            -moz-opacity: 1;
            -khtml-opacity: 1;
            -webkit-opacity: 1;
            height: 100%;
        }
    }
    // &:hover {
    //     &::before {
    //         opacity: 1;
    //         -moz-opacity: 1;
    //         -khtml-opacity: 1;
    //         -webkit-opacity: 1;
    //         height: 100%;
    //     }
    // }
    &::before {
        background: $color-orange;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        opacity: 0;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -ms-border-radius: 0px;
        // z-index: -1;
        right: 0;
        transition: all 400ms ease-in-out;
        -webkit-transition: all 400ms ease-in-out;
    }
    span {
        font-size: 12px;
        letter-spacing: 0.5px;
        font-weight: 500;
        z-index: 1;
        position: relative;
    }
    svg {
        margin: 0 4px 0 0;
        font-size: 20px;
        z-index: 1;
        position: relative;
    }

    .bx-quantity {
    }
}
