.qty-controls {
     display: inline-block;
    border: 1px solid $color-black1;

    .btn{
        background: $color-orange2;
        color: $color-black1;
        border-radius: 0;
        border-color: transparent;


    }

    .bx-minus{
        border-right-color: $color-black1;
    }
    .bx-plus{
border-left-color: $color-black1;
    }

span.qty {
    padding: 8px 20px;
}

}