.bx-search-bar {
    button {
        @extend .no-button-boder;
        color: $color-orange;
        line-height: 0;
        padding: 12px;
        font-size: 24px;
        &:hover {
            background-color: $color-orange;
            color: $color-black1;
        }
    }
}

.bx-offcanvas-search {
    height: 500px;

    form {
        input {
            border-radius: 0;
            padding: 16px 12px;
            border: 0;
            border-bottom: 1px solid $color-black1;
            &:focus {
                color: transparent;
                background-color: transparent;
                border-bottom: 1px solid $color-black1;
                outline: 0;
                box-shadow: none;
            }
        }
    }
    button {
        @extend .no-button-boder;
        color: $color-orange;
        line-height: 0;
        padding: 12px;
        font-size: 24px;
        &:hover {
            background-color: $color-orange;
            color: $color-black1;
        }
    }
}
