.bx-why-choose{
    .bx-listcheck-missvision {
        ul{
         display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
            li{
           width: 48%;
    display: inline;
    
        }
        }
    }
}