* {
  margin: 0;
  padding: 0;
}

body {

  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

a,
p,
span {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 14px;


}