* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "ZCOOL XiaoWei", sans-serif;
  text-transform: capitalize;
}

a,
p,
span {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 14px;
color: #3f3f3f;

}

ul{
  margin: 0;
  padding: 0;
}

li{
  border: 0;
  border-radius: 0;
  background: transparent;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #353535;
}

::-webkit-scrollbar-track {
    background: #ff9781;
}

.bx-info-line
{
  font-size: 18px;
}

.bx-none-imag{
  display: none;
}

.bx-section-margine{
  margin-bottom: 3.5rem;
}


